
.experience-overview-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto, auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.5s ease 0s;
 
}

.experience-overview-box{
    margin: auto;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 30px;
    border: 5px solid var(--clr-primary);
}

.experience-overview-box:hover {
    transform: scale(1.04);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }



@media (max-width: 600px) {
    .experience-overview-container{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        /* display: block; */
        margin: auto;
        padding-top: 2em;
    }

    .experience-overview-box{
        padding: 20px 10px;
    }
  }