
  #project {
    width: 100%;
    margin: auto;
    box-shadow: var(--shadow);
    display: flex;
    border-radius: 30px;
    transition: all 0.5s ease 0s;
    border: 10px solid var(--clr-primary);
  }
  #project:hover {
    transform: scale(1.04);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }